/* Untuk Tablet */
@media all and (max-width: 1000px) {
	.gambar {
		width: 17%;
	}
	
	.gambar1 {
		width: 17%;
	}
	
	.gambar2 {
		width: 17%;
	}
	
	.gambar img {
		width: 60px;
		height: 60px;
	}

	.gambar1 img {
		width: 100px;
		height: 100px;
	}

	.gambar2 img {
		width: 80px;
		height: 80px;
	}
	
	.dropdown-child {
		min-width: 70px;
	}
	
	.dropdown-child a {
		font-size:5px;
	}
	
	.dropdown-child p {
		font-size: 8px;
	}
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
	.j8 {
		padding-bottom: 20px;
	}
	
	.profil {
		padding:2px;
	}
	
	.gambar img {
		width: 20px;
		height: 20px;
	}
	
	.gambar1 img {
		width: 60px;
		height: 60px;
	}
	
	.gambar2 img {
		width: 40px;
		height: 40px;
	}
	
	.ekstra_1 {
		height: 200px;
	}
	
	.dropdown-child {
		min-width: 70px;
	}
	
	.dropdown-child a {
		font-size:4px;
	}
	
	.dropdown-child p {
		font-size: 7px;
	}
}

/*ekstra2*/
/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .wisata {
    width: 50%;
    margin-bottom: 50px;
  }

 .wisata-icon h4 {width: 100%;}
 .wisata-icon img {width: 100%;}
 .wisata-icon p {width: 100%;}

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .wisata {
    width: 100%;
  }
  .wisata-icon h4 {width: 100%;}
  .wisata-icon img {width: 100%;}
  .wisata-icon p {width: 100%;}
}

