/* Untuk Tablet */
@media all and (max-width: 1000px) {
  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
	.j8 {
		padding-bottom: 20px;
	}
	
	.profil {
		padding:2px;
	}
	
	.gambar img {
		width: 20px;
		height: 20px;
	}
	
	.gambar1 img {
		width: 60px;
		height: 60px;
	}
	
	.gambar2 img {
		width: 40px;
		height: 40px;
	}
	
	.ekstra_1 {
		height: 400px;
	}
}
