.ekstra_1 {
	width: 100%;
	height: 300px;
	background-color: #f7f7f7;
}

.j8 {
	text-align: center;
	padding-bottom: 10px;
}

.gambar {
	text-align: center;
	width: 20%;
	float: left;
}

.gambar1 {
	text-align: center;
	width: 20%;
	float: left;
}

.gambar2 {
	text-align: center;
	width: 20%;
	float: left;
}

.gambar img {
	width: 80px;
	height: 80px;
}

.gambar1 img {
	width: 120px;
	height: 120px;
}

.gambar2 img {
	width: 100px;
	height: 100px;
}

.fa fa-heart {
	color: black;
}

.img-circle {
	border-radius: 99%;
	border: 0px;
	box-shadow: 0px 0px 0px 2px white;/*rgb(204,204,200);*/
	padding: 0px;
}

.profil {
    background-color: #e15f41;
    color: black;
    border: none;
    cursor: pointer;
    padding:5px;
    margin-top:20px;
}
 
.profil:hover {
    background-color: #e38e7b;
    }
 
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    display: none;
    background-color: #e38e7b;
    min-width: 200px;
}

.dropdown-child a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
}

/*ekstra2*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


.wisata-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #e15f41;
}

.wisata {
  float: left;
  width: 20%;
   padding-right: 5px;padding-left: 5px;
}


.wisata-icon img {width: 200px;height: 200px;border-radius: 8px;}

.gambar{width: 200px;height: 200px;border-radius: 8px;}

.wisata-icon h4 {
  font-weight: bold;background-color: rgb(106, 176, 76);border-radius: 8px; max-width: 100%;line-height: 2px;padding-top: 15px;padding-bottom:1px;
}
.wisata-icon h4:hover {animation-name: example;
animation-duration: 5s;cursor: pointer;}
@keyframes example {
  from {background-color: rgb(5, 196, 107);}
  to {background-color: #218c74;}




